{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap CSS #}
    <link href="{% static 'core/bootstrap-5.0.0/css/bootstrap.min.css' %}" rel="stylesheet">

    {# block for additional links #}
    {% block link_block %}{% endblock %}

    <title>
        {% block title_block %}{% endblock %}
    </title>
</head>
<body>

<navigation>
    {% block navigation_block %}{% endblock %}
</navigation>

<main>
    {% block main_block %}{% endblock %}
</main>

<footer>
    {% block footer_block %}{% endblock %}
</footer>

{# Bootstrap JS #}
<script src="{% static 'core/bootstrap-5.0.0/js/bootstrap.bundle.min.js' %}"></script>

{# block for additional scripts #}
{% block script_block %}

{% endblock %}

</body>
</html>